<configuration>
    <!--include resource="org/springframework/boot/logging/logback/base.xml"/-->
	
	<!--appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%yellow(%d{yyyy-MM-dd HH:mm:ss.SSS}) [%blue(%thread) %magenta(${PID})]  %highlight(%-5level) %green(%logger{36}) - %highlight(%msg%n%throwable)</pattern>
        </encoder>
    </appender>
    <root level="info">
        <appender-ref ref="STDOUT" />
    </root-->
	
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%yellow(%d{yyyy-MM-dd HH:mm:ss.SSS}) [%blue(%thread) %magenta(${PID})]  %highlight(%-5level) %green(%logger{36}) : %highlight(%msg%n%throwable)</pattern>
        </encoder>
    </appender>
    <root level="info">
        <appender-ref ref="CONSOLE" />
    </root>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/logs.dat</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread ${PID}]  %-5level %logger{36} - %msg%n%throwable</pattern>
			<charset>utf8</charset>
			<!--pattern>%black(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %yellow(%C{1}): %msg%n%throwable</pattern-->
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/logs-%d{yyyy-MM-dd}.%i.dat</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
			<maxHistory>7</maxHistory>
			<totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>